{% extends "layout.html.twig" %}
{% block title 'Customisation' %}


    {% block content %}
        <label>Etape suivante ! </label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:30%;">30%</div>
        </div

        <h1> Choix de votre coupe </h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-8">
                    <form method="post">
                        <div class="form-group">
                            <table class="table">
                                <tr>
                                    <th>Titre</th>
                                    <th>Description</th>
                                    <th>Photo</th>
                                </tr>
                                {% for coupe in coupes %}
                                    <tr>
                                        <td>{{ coupe.titre_coupe }} </td>
                                        <td>{{ coupe.description_coupe }} </td>
                                        <td><img src="{{ coupe.photo_coupe }}" alt="" width="200" class="select_img" data-id="{{ coupe.id_coupe }}"/> </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        <button type="submit" class="btn btn-primary" > Validation du formulaire </button>
                        <input type="hidden" name="custom_product" id="custom_product">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 col-lg-4">

                    {#rajouter les liens de la config et des mesures prises au fur et à mesure#}


                </div>
            </div>
        </div>

    {% endblock %}