{% extends "layout.html.twig" %}
{% block title 'Récapitulatif' %}
    {% block content %}
        {% if custom is not empty %}

        <h2> Voici votre configuration </h2>
        <table>  
            <tr>
                <th>Titre</th>
                <th>Photo</th>
                <th>Prix</th>
                <th>Modifier de la configuration</th>
                <th>Recommencez la configuration</th>
                <th>Supprimer la configuration</th>
             </tr>
             
             <tr>
                 <td>{{custom.nom}}</td>
                 <td>{{custom.descr}}</td>
                 <td></td>
                 <td><a {#href="{{}}"#}>Modifier l'élément</td>
             </tr>
        </table><br><br>
        
        {# Lien vers le panier #}
        <hr>
        <a href="urlPageEdouard">Valider votre configuration</a><br><br><br>

            {% else %} {# Si panier vide #}
        
        <h2>Vous n'avez pas créé de chemise !</h2><br><br>
        
    {% endif %}
    {% endblock %}
