{% extends "layout.html.twig" %} 
{% block title 'Customisation' %}
    

{% block content %}
    <h1> Choix de votre tissu </h1>
    <form name="choix_tissu" method="post">
        <div class="form-group">
           <table class="table">
               <tr>
                   <th>Description</th>
                   <th>Photo</th>
                   <th>Prix</th> 
                   <th width="200px"></th>
               </tr>
            {% for tissu in tissus %}
               <tr>
                   <td>{{ tissu.desc }} </td>
                   <td><img src="{{ tissu.photo }}" alt="" width="200" class="select_img" data-id="{{ tissu.id }}"/> </td>
                   <td>{{ tissu.prix }} € </td>                   
               </tr>
            {% endfor %}   
           </table>
        </div>
        <button type="submit" class="btn btn-primary">Etape suivante</button>
        <input type="hidden" name="custom_product" id="custom_product">
    
    </form>

{% endblock %}
